.jumbotron {
  background-color: #89FFF9;
  margin-top: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #89FFF9;
  margin-bottom: 0px;
  margin-top: 20px; }

.card-hotel {
  flex: 1 300px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.row {
  padding-bottom: 10px; }

.img-fluid {
  width: 100%; }
