@yellow: #e6ffff  ;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  .margenes(50px, 0px); 
  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
 .margenes(20px, 0px)
   }

.card-hotel {
  flex: 1 300px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.row {
  padding-bottom: 10px; }

.img-fluid {
  width: 100%; }

