$yellow: #8a7a84;
$verde: #3ceb10;
$rojo: #eb4034;


@mixin margenes($top, $bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}

.jumbotron {
	background-color: $verde;
	@include margenes(50px, 10px);
	
}


footer{
	padding: 10px 10px 0 10px;
	background-color: $rojo;
	@include margenes(20px, 0px);
}

.card-hotel{
flex: 1 300px;

}

.btn-reserva{
	width: 100%;
	
}
.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}
.row{
	padding-bottom: 10px;
}
.img-fluid{
	width: 100%;
}